<!doctype html>
<html lang="en">

<head>
    <style>

    </style>
	<link rel= "stylesheet" type='text/css' href='css/a.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>


    <title>Neuro Data Engineering</title>

</head>

<body>
    <h3>Neuro Data Engineering</h3>
        <form>
			
					<span>
                    <select class="form-select">
                        <optgroup label="This is a group">
                            <option value="12" selected>csv</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </optgroup>
                    </select>
					</span>
                
                <span class="col">
                    <!-- <input class="form-control" type="file" /> -->
                    <input type='file' id='csvfile' onchange="readFile(this)" />
                </span>
                <span class="col">
                    <a href= "/previewDataset" class="btn btn-primary" type="button" >preview dataset </a>
                </span>
        
            
        </form>
		<h3>select from below options</h3>
        <button type="button" class="btn">EDA</button>

		<button type="button" class="btn">Data Preprocessing</button>
		<button type="button" class="btn">Feature Engineering</button>

    </div>
    

	<div class="section-items">
        <div class="row spacing">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" onclick="missingValues()"><a href="#missing_values"
                        aria-controls="missing_values" role="tab" data-toggle="tab">Missing Values</a></li>
                <li role="presentation" onclick="correlation()"><a href="#correlation" aria-controls="correlation" role="tab"
                        data-toggle="tab">Correlation </a></li>
                <li role="presentation" onclick="missing_values_plotting()">
                    <a href="#missing_values_plotting" aria-controls="missing_values_plotting"
                        role="tab" data-toggle="tab">Missing Values Plotting</a></li>
				<li role="presentation" onclick="sampleOfFirstNLastRows()"><a href="#sample_of_first_n_last_rows" aria-controls="sample_of_first_n_last_rows"
                    role="tab" data-toggle="tab">Sample of first and last rows</a></li>
                <li role="presentation" onclick="graphs()"><a href="#graphs" aria-controls="graphs"
                    role="tab" data-toggle="tab">Graphs</a></li>
            </ul>
            <div class="tab-content" style="padding-top: 10px;">
                <div role="tabpanel" class="tab-pane col-sm-12" id="missing_values"> 
                
                </div>

                <div role="tabpanel" class="tab-pane col-sm-12" id="correlation"> 
                    <div id="plot"></div>
                </div>

                <div role="tabpanel" class="tab-pane col-sm-12" id="missing_values_plotting"> 
            
                    <div id="ploting"></div>
                </div>

                <div role="tabpanel" class="tab-pane col-sm-12" id="sample_of_first_n_last_rows"> 
                    
                </div>

                <div role="tabpanel" class="tab-pane col-sm-12" id="graphs"> 
                    <div id="plot"></div>
                </div>
               
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>


    <script>
        function plot(json_data){
            Plotly.newPlot('plot', json_data);
        }
        const graphs = async () => {
            const response = await fetch('graphs_api/', {
                method: 'POST',
                body: data, // string or object
                headers: {
                    'Content-Type': 'text/csv'
                }
            });
            
            const json = await response.json(); //extract JSON from the http response
            plot(json);

        }
        const correlation = async () => {
            const response = await fetch('correlation_api/', {
                method: 'POST',
                body: data, // string or object
                headers: {
                    'Content-Type': 'text/csv'
                }
            });
            
            const json = await response.json(); //extract JSON from the http response
            plot(json);

        }

        const missing_values_plotting = async () => {
            const response = await fetch('missing_values_plotting_api/', {
                method: 'POST',
                body: data, // string or object
                headers: {
                    'Content-Type': 'text/csv'
                }
            });
            
            const json = await response.json(); //extract JSON from the http response
            // plot(json);
            Plotly.newPlot('ploting', json);
        }

        const missingValues = async () => {
            const response = await fetch('missing_values_api/', {
                method: 'POST',
                body: data, // string or object
                headers: {
                    'Content-Type': 'text/html'
                }
            });
            response.text().then(function (result) {
                document.getElementById('missing_values').innerHTML = result;
                
            });
        }

        const sampleOfFirstNLastRows = async () => {
            const response = await fetch('sample_of_first_n_last_rows_api/', {
                method: 'POST',
                body: data, // string or object
                headers: {
                    'Content-Type': 'text/html'
                }
            });
            response.text().then(function (result) {
                document.getElementById('sample_of_first_n_last_rows').innerHTML = result;
                
            });
        }
    </script>


<script>
    data = "Data is not available";
    function readFile(input) {
        let file = input.files[0];
        let reader = new FileReader();
        reader.readAsText(file);
        reader.onload = function () {
            data = reader.result;
            //console.log(reader.result);
        };

    }


</script>

</body>


